$ec-base-font-family: 'PT Serif', serif;
$ec-headings-font-family: 'PT Sans', sans-serif;
$ec-links-font-family: 'PT Sans Narrow', sans-serif;
$ec-quote-font-family: 'PT Sans Caption', sans-serif;

$ec-bg-color: #FFFFFF;
$ec-text-color: #333333;
$ec-headings-color: #000000;
