$ec-base-font-family: 'PT Serif', serif;
$ec-headings-font-family: 'PT Sans', sans-serif;
$ec-links-font-family: 'PT Sans Narrow', sans-serif;
$ec-quote-font-family: 'PT Sans Caption', sans-serif;

//$ec-bg-color: #FFFFE0;
//$ec-bg-color: #15CADB;
//$ec-bg-color: #D3E6FD;
//$ec-bg-color: #F6F6F6;
$ec-bg-color: #FFFFFF;
//$ec-bg-color: #3FFFFF;
//$ec-bg-color: #E6E6F2;

/*
#0489A9
#043C53
#0C121D

#336699
#669966
#990033

#3FFFFF
#36307A
#1C1548

#FF7F50
#4B0082
#E6E6F2
#9370DB

#F15922

 */

$ec-text-color: #333333;
$ec-headings-color: #000000;

$body-background-color: $ec-bg-color;

$primary-nav-bg-color: #000000;
$primary-nav-links-color: #FFFF00;

$service-box-padding: 8px;
//$service-box-background-color: #E4AB6D;
//$service-box-background-color: #0CE856;
//$service-box-background-color: #008BFF;
//$service-box-background-color: #FFFF77;
//$service-box-background-color: #F3F300;
//$service-box-background-color: #FFBB77;

//$service-box-background-color: #FF7F50;
//$service-box-background-color: #9370DB;
//$service-box-background-color: #669966;
//$service-box-background-color: #9370DB;
//$service-box-background-color: #F15922;

$service-box-background-color: #FFFFFF;

//$service-box-border-color: #FAFA00;

$service-box-border-color: none;

$service-icon-width: 3;
$service-icon-height: 35px;
$test1: #333300;
$service-icon-color: $test1;
$service-box-header-color: $test1;
$service-box-text-color: $test1;
