@import "variables";
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700|PT+Sans+Narrow:400,700|PT+Sans:400,400i,700,700i|PT+Serif+Caption:400,400i|PT+Serif:400,400i,700,700i');

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";

body {
  font-family: $ec-base-font-family;
  color: $ec-text-color;
  background-color: $body-background-color;
  font-size: 1rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding-bottom: 50px;
}

html, body {
  //min-height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
  font-family: $ec-links-font-family;
  white-space: nowrap;
}

a:link,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .heading {
  font-family: $ec-headings-font-family;
  color: $ec-headings-color;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: $primary-nav-bg-color;
  opacity: 0.8;

  display: flex;
  align-items: center;
  justify-content: space-around;

  a {
    height: 45px;
    padding: 10px 0;
    @include media-breakpoint-up(md) {
      padding: 10px 15px;
    }
    display: block;
  }
  a.hoverable:hover {
    background-color: #FFFF00;
    span {
      color: #000000;
    }
    svg * {
      fill: #000000;
    }
  }

  @include media-breakpoint-up(md) {
    #contact-call-container {
      cursor: default;
    }
  }

  svg {
    height: 25px;
  }

  span {
    color: #FFFFFF;
    margin-left: 10px;
    vertical-align: top;
  }

  svg * {
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill: #FFFF00;
  }
}

#primary-nav {
  text-align: center;
  background-color: $primary-nav-bg-color;

  .primary-nav-item {
    padding: 10px 8px;
    @include media-breakpoint-up(sm) {
      padding: 10px 15px;
    }
    @include media-breakpoint-up(lg) {
      padding: 10px 20px;
    }
    cursor: pointer;
  }
  .primary-nav-item:hover {
    background-color: #FFFFFF;
    a {
      color: #000000;
    }
  }

  a {
    color: $primary-nav-links-color;
    @include media-breakpoint-up(lg) {
      font-size: 1.1rem;
    }
  }

  .primary-nav-active {
    cursor: default !important;

    a {
      cursor: default !important;
    }

    i {
      position: absolute;
      bottom: -9px;
      left: 39%;
      font-size: 1.6rem;
      color: $ec-bg-color;
    }
  }
  .primary-nav-active:hover {
    background-color: $primary-nav-bg-color;
    a {
      color: $primary-nav-links-color;
    }
  }
}


.visible-md-down {
  visibility: hidden;
  @include media-breakpoint-down(sm) {
    visibility: visible;
  }
}

.show-md-up {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
.hide-md-up {
  @include media-breakpoint-up(md) {
    display: none;
  }
}
