@import "variables";
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700|PT+Sans+Narrow:400,700|PT+Sans:400,400i,700,700i|PT+Serif+Caption:400,400i|PT+Serif:400,400i,700,700i');

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";

body {
  font-family: $ec-base-font-family;
  color: $ec-text-color;
  background-color: $body-background-color;
  font-size: 1rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding-bottom: 63px;
}

html, body {
  min-height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
  font-family: $ec-links-font-family;
  white-space: nowrap;
}

a:link,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .heading {
  font-family: $ec-headings-font-family;
  color: $ec-headings-color;
}

body * {
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/*
    Primary menu
 */
#primary-nav {
  text-align: center;
  background-color: $primary-nav-bg-color;

  .primary-nav-item {
    cursor: pointer;
    padding: 10px 8px;
    @include media-breakpoint-up(sm) {
      padding: 10px 15px;
    }
    @include media-breakpoint-up(lg) {
      padding: 10px 20px;
    }
  }
  .primary-nav-item:not(.primary-nav-active):hover {
    background-color: $primary-nav-hover-bg-color;
    a {
      color: $primary-nav-hover-links-color;
    }
  }

  a {
    color: $primary-nav-links-color;
    @include media-breakpoint-up(lg) {
      font-size: 1.1rem;
    }
  }

  .primary-nav-active {
    cursor: default !important;

    a {
      cursor: default !important;
    }

    i {
      position: absolute;
      bottom: -9px;
      left: 39%;
      font-size: 1.6rem;
      color: #FFFFFF;
    }
  }
}
.yellow-triangle {
  .primary-nav-active {
    i {
      color: $sec-nav-bg-color !important;
    }
  }
}
.white-hover {
  .primary-nav-item:not(.primary-nav-active):hover {
    background-color: #FFFFFF !important;
  }
}

/*
    Secondary nav bar
 */
#secondary-nav {
  text-align: center;
  background-color: $sec-nav-bg-color;
  box-shadow: inset 0 -10px 10px -10px rgba(150,150,0,0.24);

  svg {
    height: $sec-nav-icons-height;
  }

  svg * {
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    stroke: $sec-nav-links-color;
    stroke-width: 3;
    @include media-breakpoint-up(lg) {
      stroke-width: 4;
    }
  }
  svg#online-icon {
    .st2 {
      fill: $sec-nav-links-color;
      stroke: none;
    }
  }

  .secondary-nav-item:first-of-type {
    border-left: 1px solid $sec-nav-items-border-color;
  }

  .secondary-nav-item {
    cursor: pointer;
    padding: 10px 5px;
    border-right: 1px solid $sec-nav-items-border-color;
    @include media-breakpoint-up(lg) {
      display: flex;
      flex-direction: row;
      padding: 12px 0;
      align-items: center;
      justify-content: center;
    }

    .secondary-nav-item-title {
      margin: 0;
      padding: 0;
      font-family: $ec-headings-font-family;
      font-size: 0.75rem;
      color: $sec-nav-links-color;
      @include media-breakpoint-up(lg) {
        margin-left: 15px;
        font-size: 0.9rem;
      }
    }
  }

  .secondary-nav-item:not(.secondary-nav-item-active):hover {
    h4 {
      color: $sec-nav-hover-links-color;
    }
    svg * {
      stroke: $sec-nav-hover-links-color;
    }
    svg#online-icon {
      .st2 {
        fill: $sec-nav-hover-links-color;
      }
    }
  }

  .secondary-nav-item-active {
    cursor: default;
    background-color: $sec-nav-active-bg-color;
    box-shadow: 4px -5px 8px rgba(150,150,0,0.12), -4px -5px 8px rgba(150,150,0,0.12);

    .secondary-nav-item-title {
      color: $sec-nav-active-links-color;
    }

    svg * {
      stroke: $sec-nav-active-links-color;
    }
    svg#online-icon {
      .st2 {
        fill: $sec-nav-active-links-color;
      }
    }
  }
}

/*
    Footer
 */

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;

  .black-bg {
    background-color: $footer-bg-color;
  }

  .footer-contact {
    height: $footer-contact-height;
    text-align: center;
  }

  // The footer contact text
  span {
    color: $footer-content-color;
    margin-left: 10px;
    vertical-align: top;
  }

  a {
    display: block;
    height: $footer-contact-height;
    padding: ($footer-contact-height - $footer-contact-icons-height)/2 0;
  }
  a.hoverable:hover {
    span {
      color: $footer-content-hover-color;
    }
    svg * {
      fill: $footer-content-hover-color;
    }
  }

  // The call us button is only for mobiles
  @include media-breakpoint-up(md) {
    #contact-call-container {
      cursor: default;
    }
  }

  svg {
    height: $footer-contact-icons-height;
    @include media-breakpoint-down(sm){
      height: $footer-contact-icons-height-small-screen;
    }
  }

  svg * {
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill: $footer-content-color;
  }
}
// Company logo and name in the middle of the footer
#footer-company-details-container {
  height: $footer-contact-height;
  padding: 0 1px;

  #footer-company-details {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $footer-company-details-bg-color;
    height: $footer-company-details-height;
    min-width: $footer-company-details-height;
    margin: -15px 0 0;
    border-radius: 50%;
    @include media-breakpoint-up(md) {
      padding: 0 10px;
      border-radius: 30px;
      margin: -18px 0 0;
    }
    box-shadow: inset 1px 1px 6px 2px rgba(0,0,0,0.16);
    border: $footer-company-details-border-width solid $footer-bg-color;
    #footer-company-logo {
      height: $footer-company-logo-height;
    }
    #footer-company-name {
      margin: 0 0 0 10px;
      font-size: 1.2rem;
    }
  }
}

/*
    Pages
 */
#primary-container {
  display: flex;
  flex-direction: column;
  @include media-breakpoint-up(lg) {
    min-height: calc(100vh - 65px);
  }
}

#page-title {
  font-size: 1.9rem;
  margin: 20px 0 10px 0;
  @include media-breakpoint-up(sm) {
    font-size: 2.1rem;
  }
  @include media-breakpoint-up(lg) {
    margin: 25px 0;
  }
  text-align: center;
  font-weight: 700;
}

#page-image-container {
  text-align: center;
  #page-image {
    width: 90%;
    @include media-breakpoint-down(md) {
      width: 75%;
      max-width: 350px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 450px;
    }
  }
}

#page-content {
  text-align: justify;
  @include media-breakpoint-down(md) {
    padding-top: 30px;
    padding-bottom: 20px;
  }
}

#page-content.no-justify {
  text-align: left !important;
}

@include media-breakpoint-up(lg) {
  #page-content-container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  #page-content-section {
    flex: 1;
  }
}

/*
    About Us
 */
.team-member {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;

  h4 {
    font-weight: 500;
    margin: 10px 0;
    font-size: 1.7rem;
  }

  h5 {
    margin-top: 0;
    margin-bottom: 3px;
    font-size: 1.1rem;
  }
}

/*
    Our Work page new
 */


#page-content-container{
  .front{
  .card{
    padding-top: 30px;
    background: none;
    -webkit-box-shadow: 5px, 7px, 9px, -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px, 7px, 9px, -4px rgb(158, 158, 158);
    box-shadow: 5px, 7px, 9px, -4px rgb(158, 158, 158);
    box-shadow: 0 1px 3px  rgb(158, 158, 158), 0 1px 2px  rgb(158, 158, 158);
    img{
      height: 60%;
      width: 60%;
    }
    .card-title{
      font-weight: 600;
      font-size: 18px;
    }
    .card-body{
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 47px;
    }
  }
}
}

.info-card {
float: left;
margin: 10px;
-webkit-perspective: 600px;
}

.front, .back {
background: #FFF;
transition: -webkit-transform 1s;
-webkit-transform-style: preserve-3d;
-webkit-backface-visibility: hidden;
box-shadow: 0 1px 3px #9e9e9e, 0 1px 2px #9e9e9e;
}

.front {
overflow: hidden;
width: auto;
height: 330px;
position: absolute;
z-index: 1;
}

.back {
background: #ffff01;
padding: 17px;
padding-top: 20px;
width: auto;
height: 330px;
-webkit-transform: rotateY(-180deg);
}

.info-card:hover .back {
-webkit-transform: rotateY(0);
}

.info-card:hover .front {
-webkit-transform: rotateY(180deg);
}

.card-image {
width: 100%;
height: 100%;
}

.all-projects-container{
  display: flex;
  justify-content: center;
  span{
    margin: 20px;
    a{
      color: white;
    }
  }
}

/*
    Contact Us
 */
.contact-page-content {
  text-align: left !important;
  @include media-breakpoint-only(xs) {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
}

#contact-social-media {
  text-align: center;
  img {
    @include media-breakpoint-only(xs) {
      height: 25px;
    }
    height: 35px;
  }

  & > div {
    @include media-breakpoint-only(xs) {
      margin-right: 0;
    }
    margin-right: 10px;
  }
}
.information-contact{
  @include media-breakpoint-up(md){
    padding-left: 150px;
  }
}
.submit-form{
  @include media-breakpoint-down(sm){
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  }
}

/*
    Helper classes
 */

.visible-md-down {
  visibility: hidden;
  @include media-breakpoint-down(sm) {
    visibility: visible;
  }
}

.show-md-up {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
.show-md-only {
  @include media-breakpoint-down(sm) {
    display: none;
  }
  @include media-breakpoint-up(lg) {
    display: none;
  }
}
.hide-md-up {
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.show-lg-up {
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.ec-quote-text {
  font-family: $ec-quote-font-family;
  font-size: 1.15rem;
  margin-top: 30px;
  text-align: center;
  color: #AAAA00;
}

// Our Team page

.core-team-header{
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
}

.box1 img,.box1:after,.box1:before{
  width:100%;
  transition:all .3s ease 0s
}
.box1 .icon,.box2,.box3,.box4,.box5 .icon li a{
  text-align:center
}
.box10:after,.box10:before,.box1:after,.box1:before,.box2 .inner-content:after,.box3:after,.box3:before,.box4:before,.box5:after,.box5:before,.box6:after,.box7:after,.box7:before{
  content:""
}
.box1,.box11,.box12,.box13,.box14,.box16,.box17,.box18,.box2,.box20,.box21,.box3,.box4,.box5,.box5 .icon li a,.box6,.box7,.box8{
  overflow:hidden
}
.box1 .title,.box10 .title,.box4 .title,.box7 .title{
  letter-spacing:1px
}
.box3 .post,.box4 .post,.box5 .post,.box7 .post{
  font-style:italic
}
body{
  background-color:#f1f1f2
}
.mt-30{
  margin-top:30px
}
.mt-40{
  margin-top:40px
}
.mb-30{
  margin-bottom:30px
}
.box1 .icon,.box1 {
  .title{
    margin:0;position:absolute
  }
}
.box1{
  box-shadow:0 0 3px rgba(0,0,0,.3);
  position:relative
}
.box1:after,.box1:before{
  height:50%;
  background:rgba(0,0,0,.5);
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  transform-origin:100% 0;
  transform:rotateZ(90deg)
}
.box1:after{
  top:auto;bottom:0;
  transform-origin:0 100%
}
.box1:hover:after,.box1:hover:before{
  transform:rotateZ(0)
}
.box1 {
  img{
    height:300px;
    transform:scale(1) rotate(0)
  }
}
.box1:hover img{
  filter:sepia(80%);
  transform:scale(1.3) rotate(10deg)
}
.box1 .title{
  font-size:19px;
  font-weight:600;
  color:#fff;
  text-transform:uppercase;
  text-shadow:0 0 1px #004cbf;
  bottom:10px;
  left:10px;
  opacity:0;
  z-index:2;
  transform:scale(0);
  transition:all .5s ease .2s
}
.box1:hover {
  .title{
    opacity:1;
    transform:scale(1)
  }
}
.box1 {
  .icon{
    padding:7px 5px;
    list-style:none;
    background:#004cbf;
    border-radius:0 0 0 10px;
    top:-100%;
    right:0;
    z-index:2;
    transition:all .3s ease .2s
  }
}
.box1:hover {
  .icon{
    top:0
  }
}
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    60% {
      transform: translateY(-20px);
    }
  }


.main{
  height: 90vh;
  width: 100%;
  background:linear-gradient(0deg,rgba(14, 13, 14, 0.61), rgba(33, 31, 32, 0.61)), url("../../img/image4.JPG"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: repeat-y;
    .logo {
      color: #FFFFFF;
      font-size: 56px;
      font-weight: 300;
      position: relative;
      text-align: center;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
      margin-top: 75px;
      @include media-breakpoint-down(sm){ 
        margin-top: 15px;
       }
      z-index: 3;
  }

  @media only screen and (max-width:990px){.box1{margin-bottom:30px}
  }

  h5{
    color: white;
    font-size: 50px;
    font-weight: 600;
  }
  .arrow {
    position: absolute;
    text-align: center;
    bottom: 9% !important;
    width: 100%;
    color: white;
  }

  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  
  .logo.cursive {
    font-family: 'Grand Hotel',cursive;
    font-size: 82px;
  }
  .content {
    position: relative;
    z-index: 4;
  }
  .motto, .main .subscribe .info-text {
    font-size: 28px;
    color: #FFFFFF;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.33);
    text-align: center;
    margin-top: 50px;
    @include media-breakpoint-down(sm) { 
      margin-top: 5px;
     }
  }
  .main .motto {
    min-height: 140px;
  }
  p {
    font-size: 16px;
    line-height: 1.6180em;
    margin: 0 0 10px;
  }
}
.cover.black {
  background-color: rgba(0,0,0,.6);
}
.cover {
  position: fixed;
  opacity: 1;
  height: 90vh;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

// work detail page

#work-detail-page-container{
  #page-content{
    margin-top: 50px;
    div{
      .project-name{
        font-size: 23px;
        font-weight: 600;
      }
      .project-place{
        padding-top: 10px;
        font-size: 15px;
        font-weight: 600;
        @include media-breakpoint-up(md){
          text-align: end;
        }
      }
    }
    .client-logo{
      display: flex;
      justify-content: center;
      @include media-breakpoint-down(sm){
        margin-bottom: 10px;
      }
    }
    .project-detail{
      margin: 10px 0px;
      font-size: 15px;
    }
    .google-play{
      img{
        height: 30px;
        @include media-breakpoint-down(sm){
          height: 40px;
      }
    }
  }
    .app-store{
      margin-left: 5px;
      img{
        height: 30px;
        @include media-breakpoint-down(sm){
          height: 40px;
      }
      }
    }
    .youtube-link{
      i{
        font-size: 25px;
        color: red ;
        margin-left: 10px;
      }
      @include media-breakpoint-up(md){
      display: flex;
      justify-content: flex-end;
      align-items: center;
      span{
        display: flex;
        align-items: center;
        font-size: 15px;
        font-weight: 500;
        }
      }
      @include media-breakpoint-down(sm){
        margin-top: 20px;
      }
    }
  }
}

