@import "variables";
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700|PT+Sans+Narrow:400,700|PT+Sans:400,400i,700,700i|PT+Serif+Caption:400,400i|PT+Serif:400,400i,700,700i');

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";

body {
  font-family: $ec-base-font-family;
  color: $ec-text-color;
  background-color: $body-background-color;
  font-size: 1rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding-bottom: 50px;
}

html, body {
  //min-height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
  font-family: $ec-links-font-family;
  white-space: nowrap;
}

a:link,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .heading {
  font-family: $ec-headings-font-family;
  color: $ec-headings-color;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: $primary-nav-bg-color;
  opacity: 0.8;
  padding: 10px 0;

  display: flex;
  align-items: center;
  justify-content: space-around;

  a {
    height: 25px;
    display: block;
  }

  img {
    height: 25px;
  }
}

#primary-nav {
  text-align: center;
  background-color: $primary-nav-bg-color;

  div {
    padding: 10px 8px;
  }

  a {
    color: $primary-nav-links-color;
  }
}

.primary-nav-active {
  i {
    position: absolute;
    bottom: -9px;
    left: 39%;
    font-size: 1.6rem;
    color: $ec-bg-color;
  }
}

#social-media-icons {
  padding: 5px 10px 0;
  img.social-media-icon{
    height: 20px;
  }
}
