@import "variables";

$service-box-padding: 8px;
//$service-box-background-color: #E4AB6D;
//$service-box-background-color: #0CE856;
//$service-box-background-color: #008BFF;
$service-box-background-color: #FFFF77;
//$service-box-background-color: #F3F300;
//$service-box-background-color: #FFBB77;
//$service-box-background-color: $ec-bg-color;


$service-icon-width: 3;
$service-icon-height: 35px;
$test1: #333300;
$service-icon-color: $test1;
$service-box-header-color: $test1;
$service-box-text-color: $test1;

#company-details {
  text-align: center;
  padding: 15px 0;

  img {
    height: 60px;
  }

  #company-name {
    font-weight: 700;
    font-size: 2rem;
    margin: 0;
    padding: 0;
  }
}

$service-box-border-color: #FAFA00;

#services {
  padding-left: $service-box-padding;
  padding-top: $service-box-padding;
  background-color: $service-box-border-color;
  //border-left: 2px solid $service-box-border-color;
  //border-top: 2px solid $service-box-border-color;
}
.service-box {
  text-align: center;
  padding: 0 $service-box-padding $service-box-padding 0;

  .service-box-container {
    border-radius: 4px;
    //border-right: 2px solid $service-box-border-color;
    //border-bottom: 2px solid $service-box-border-color;
    height: 100%;
    padding: 15px 10px 10px;
    background-color: $service-box-background-color;

    box-shadow: 0 1px 3px rgba(150,150,0,0.12), 0 1px 2px rgba(150,150,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  //.service-box-container:hover {
  //  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  //}

  h4 {
    font-family: $ec-headings-font-family;
    font-size: 1rem;
    font-weight: 700;
    margin: 8px 0 5px;
    color: $service-box-header-color;
  }

  p {
    font-family: $ec-base-font-family;
    font-size: 0.86rem;
    margin: 0;
    color: $service-box-text-color;
  }

  svg {
    height: $service-icon-height;
  }
}

svg * {
  fill: none;
  stroke: $service-icon-color;
  stroke-width: $service-icon-width;
}

svg#dt-icon {
  .st0{
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st1{
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
}

svg#dig-icon {
  .st0{
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st1{
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}

svg#online-icon {
  .st0 {
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
  .st1 {
    stroke-miterlimit: 10;
  }
  .st2 {
    fill: $service-icon-color;
    stroke: none;
  }
}

svg#startups-icon {
  .st0 {
    stroke-miterlimit: 10;
  }
}

svg#devops-icon {
  .st0 {
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .st1 {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}

svg#appDev-icon {
  .st0 {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
}
