@import "variables";

@import "node_modules/bootstrap/scss/bootstrap-grid";

$service-box-gradient-low: #FFFF9F;
$service-box-gradient-high: #FFFF80;
$service-box-background-color: $service-box-gradient-high;
$service-box-border-color: #F9F900;

$service-icon-width: 3;
$service-icon-height: (
  xs: 35px,
  lg: 55px
);

$service-icon-color: #333300;
$service-box-header-color: #333300;
$service-box-text-color: #333300;

body {
  padding-bottom: 46px !important;
}

#primary-nav {
  .primary-nav-active {
    i {
      color: #FFFFFF;
    }
  }

  .primary-nav-item:not(.primary-nav-active):hover {
    background-color: #FFFFFF;
  }
}

#index-main-content {
  padding-right: 0;
  padding-left: 0;
}

#company-details {
  text-align: center;
  padding: 12px 0 18px;
  @include media-breakpoint-up(lg) {
    padding: 40px 0;
  }

  img {
    height: 60px;
    @include media-breakpoint-up(lg) {
      height: 80px;
    }
  }

  #company-name {
    font-weight: 700;
    font-size: 2rem;
    @include media-breakpoint-up(lg) {
      font-size: 2.3rem;
    }
    margin: 0;
    padding: 0;
  }
}
#social-media-icons {
  padding: 5px 10px 0;
  @include media-breakpoint-up(lg) {
    padding: 8px 10px 0;
  }
  img.social-media-icon{
    height: 20px;
    @include media-breakpoint-up(lg) {
      height: 25px;
    }
  }
}

#services {
  margin-left: -8px;
  margin-right: -8px;
}

.service-box {
  text-align: center;
  padding: 4px !important;
  @include media-breakpoint-up(sm) {
    padding: 10px !important;
  }
  @include media-breakpoint-up(lg) {
    padding: 15px !important;
  }

  .service-box-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 4px;
    height: 100%;
    padding: 15px 10px 10px;

    @include media-breakpoint-up(lg) {
      border-radius: 6px;
      padding: 30px 15px;
    }

    background: $service-box-background-color;
    background: radial-gradient(ellipse at center,  $service-box-gradient-low 0%, $service-box-gradient-high 100%);

    border: 1px solid $service-box-border-color;

    box-shadow: 0 1px 3px rgba(200,200,0,0.12), 0 1px 2px rgba(200,200,0,0.24);
  }

  .service-box-container:hover {
    box-shadow: 0 14px 28px rgba(150,150,0,0.25), 0 10px 10px rgba(150,150,0,0.22);
  }

  h4 {
    font-family: $ec-headings-font-family;
    font-size: 1rem;
    font-weight: 700;
    margin: 8px 0 5px;
    color: $service-box-header-color;

    @include media-breakpoint-up(lg) {
      font-size: 1.2rem;
      margin: 15px 0;
    }
  }

  p {
    white-space: normal;
    font-family: $ec-base-font-family;
    font-size: 0.86rem;
    @include media-breakpoint-up(lg) {
      font-size: 1rem;
    }
    margin: 0;
    color: $service-box-text-color;
  }

  svg {
    height: map_get($service-icon-height, xs);
    @include media-breakpoint-up(lg) {
      height: map_get($service-icon-height, lg);
    }
  }
}

svg * {
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  stroke: $service-icon-color;
  stroke-width: $service-icon-width;
}
svg#online-icon {
  .st2 {
    fill: $service-icon-color;
    stroke: none;
  }
}

#index-footer {
  display: flex;
  justify-content: space-evenly;
  background-color: $footer-bg-color;
}
