@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700|PT+Sans+Narrow:400,700|PT+Sans:400,400i,700,700i|PT+Serif+Caption:400,400i|PT+Serif:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Gentium+Basic|Lato|Libre+Baskerville|Raleway&display=swap');

$ec-base-font-family: 'PT Serif', serif;
$ec-headings-font-family: 'PT Sans', sans-serif;
$ec-links-font-family: 'PT Sans Narrow', sans-serif;
$ec-quote-font-family: 'PT Sans Caption', sans-serif;
$card-title-font-family: 'Bebas Neue', cursive;

$crimson-text-font: 'Crimson Text', serif;
$gentium-basic-font: 'Gentium Basic' serif;
$lato-font: 'Lato', sans-serif;
$libre-font: 'Libre Baskerville', serif;
$raleway-font: 'Raleway', sans-serif;

$service-box-gradient-low: #FFFF9F;
$service-box-gradient-high: #FFFF80;
$service-box-background-color: $service-box-gradient-high;
$service-box-border-color: #F9F900;
$service-icon-width: 3;
$service-icon-height: (
        xs: 35px,
        sm: 50px,
        md: 60px,
        lg: 70px,
);

$service-icon-color: #333300;
$service-box-text-color: #333300;

$ec-bg-color: #FFFFFF;
$ec-text-color: #000000;
$ec-headings-color: #000000;
$youtube-play-color: #FF0000;
$body-background-color: $ec-bg-color;

$service-box-header-color: #333300;

$ec-quote-color: #5A5A00;

// custom letter spacing
$spacing1: 1.2;

// custom breadcrumb
$breadcrumb-divider: quote(">");
// enable responsive font sizes
$enable-responsive-font-sizes: true;
// enable equal height for cards
$card-height: 100vh;
// project details header background
$project-details-bg-color: rgba(249,249,249,1);



/*
    Primary nav bar
 */
$primary-nav-bg-color: #000000;
$primary-nav-links-color: #FFFF00;
$primary-nav-hover-bg-color: #FFFF66;
$primary-nav-hover-links-color: #000000;

$tech-icon-color: #333;

/*
    Secondary nav bar
 */
$sec-nav-bg-color: #FFFF66;
$sec-nav-links-color: #888800;
$sec-nav-icons-height: 30px;
$sec-nav-items-border-color: #EEEE00;
$sec-nav-hover-links-color: #000000;

$sec-nav-active-bg-color: #FFFFFF;
$sec-nav-active-links-color: #333300;


/*
    Footer
 */
$footer-bg-color: rgba(0,0,0,0.8);

$footer-content-color: #FFFF00;
$footer-content-hover-color: #FFFFFF;

$footer-contact-height: 45px;
$footer-contact-icons-height: 25px;

$footer-company-details-bg-color: #FFFFFF;
$footer-company-details-height: 62px;
$footer-company-details-border-width: 6px;
$footer-company-logo-height: 35px;

// project details
$client-country-color: #737373;

// about team
$college-text-color: #E8DD0A;

// custom badge colors
$badge-finance-color: #7952b3;
$badge-commodities-color: #4F0946;
$badge-construction-color: #FF8F74;

$service-box-gradient-low: #FFFF9F;
$service-box-gradient-high: #FFFF80;
$service-box-background-color: $service-box-gradient-high;
$service-box-border-color: #F9F900;

// mixins for swiper carousel

@mixin swiper-container() {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

@mixin swiper-slide() {
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

@mixin card-box-shadow() {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

@mixin box_shadow_hover() {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@mixin page-title-mixin() {
  font-size: 1.9rem;
  @include media-breakpoint-up(sm) {
    font-size: 2.1rem;
  }
  @include media-breakpoint-up(lg) {
    margin: 25px 0;
  }
  text-align: center;
  font-weight: 700;
}

@mixin card_header() {
  font-family: $card-title-font-family;
  @include heading-text();
  letter-spacing: .1rem;
  @include media-breakpoint-up(lg) {
    font-size: 1.20rem;
    line-height: 1.6;
  }
  @include media-breakpoint-down(sm) {
    font-size: 1.4rem;
    line-height: 1.6;
  }
  @media (min-width: 1367px) {
    font-size: 1.8rem;
  }
  border-bottom: .35rem solid;
}

@mixin heading_text() {
  font-size: 1rem;
  color: $service-box-header-color;
}

@mixin badge_style() {
  font-family: $ec-links-font-family;
  font-size: 1.1rem;
  font-weight: 500;
}

@mixin page-title-mixin() {
  font-size: 1.9rem;
  font-family: $ec-headings-font-family;
  @include media-breakpoint-up(sm) {
    font-size: 2.1rem;
  }
  @include media-breakpoint-up(lg) {
    margin: 25px 0;
  }
  text-align: center;
  font-weight: 700;
}

@mixin swiper-container() {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

@mixin swiper-slide() {
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

