@import '../../scss/variables';

.team-member {
  font-family: $ec-headings-font-family;
  text-align: center;

  h4 {
    font-weight: 600;
    @include media-breakpoint-up(lg) {
      margin-top: -2rem;
    }
    font-size: 1.7rem;
    text-transform: uppercase;
  }


  h5 {
    &.core-team-college {
      color: $college-text-color;
      font-size: 1.4rem;
      font-weight: 600;
    }
    margin-top: 0;
    margin-bottom: 3px;
    font-size: 1.2rem;
    font-weight: 500;
  }
}
